.nav-bar{
    line-height: 4rem;
    background-color: #000000;
}

.nav-bar-item{
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.4s;
    padding: 0 1rem;
}
.nav-bar-item:hover{
    background-color: #ccc;
}

.w3-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.w3-row-padding {
    padding-top: 24px;
    padding-bottom: 24px;
}

footer a {
    padding-left: 10px;
    padding-right: 10px;
}
